<section class="bookdetails">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 imgdiv">
                <img class="img-fluid" [src]="book1.Image"/>
            </div>
            <div class="col-md-6 p-5 contentdiv">
                <h2 class="py-2">{{book1.Title}}</h2>
                <p class="py-2">{{book1.contentPDF}} </p>
                <!-- <button class="btn btn-warning">Read</button> -->
                <!-- <button routerLink="/formoncomponent" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Buy</button> -->
                <button (click)="buy(book1.Title)" class="btn btn-primary px-5"  >Buy</button>
            </div>
<!-- Modal For Buy -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
        <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <!-- <h4 class="modal-title " id="myModalLabel"> -->
                <h2 class="text-center m-auto">
                    Confirm Request
                </h2>

        </div>
            <div class="modal-body text-center ">
                <p>
                    Are You Sure  Buying This Book ....!
                </p>
                <button class="btn btn-success">Confirm </button>
             </div>
    </div>
</div>
    
  
</div>
<!-- End Model -->

            <div class="col-md-3 detailsdiv">
                <table class="table table-hover ">
                    
                    <tbody>
                            <tr>
                                <td class="categoryname"><h5 class="">Category Name :{{book1.CategoryName}}</h5> </td>
                             </tr>
                             <tr>
                                <td>Author Name :{{book1.AuthorName}}</td>
                             </tr>
                             <tr>
                                <td>Publisher Name :{{book1.PublisherName}}</td>
                             </tr>
                             <tr>
                                <td>Publshing Date :{{book1.PublishDate}}</td>
                             </tr>
                             <tr>
                                <td>Number Of Pages :{{book1.NumberOfPage}}</td>
                             </tr>
                             <tr>
                                <td>Price :{{book1.Price}} $</td>
                             </tr>
                    </tbody>
                    
                </table>
            </div>
         </div>
    </div>
    

</section>
