
<section class="container mt-5">
  <div class="row">
    <div class="col-md-8">
        <div >
            <h2>About Us</h2>
            <h5>This Is Our Harvest Of Hard Working to Create This Library which Offers You : </h5>
            <ul>
              <li>A place that you can buy any book you like and get it to your home </li>
              <li>A marvelous Community which can give you opportunity to borrow book you can not afford and we will deliver this book to you to home either</li>
            </ul>
            <p>Our gratitude is for all istructors that helped us get to this content and specially for <b><a href="http://www.iti.gov.eg/">ITI</a></b> the organization that was the cause of all this harvest</p>
            <br>
            <br>
            <h2>Our belief is <b style="color: green">"someone who writes will never die"</b> so what we can say about a human who will read all the written</h2>
    </div>
  </div>
    <div class="col-md-4">
        <div>
            <img src="./assets/images/4.jpg" style="width: 100%;height:100%"/>
          </div>
          </div>
    </div>
  
</section>
