<section class="our_team text-center mt-3">
            
    <div id="our_team" class="team">
        <h1> Our Team</h1>
    <div class="container">
        <div class="row">
                <div class=" col-sm-12 m-auto ">
                        <div class="person">
                       <img class="img-circle" src="./assets/images/avtar3.jpg" alt="item1"  width="100px" height="100px"/>
                        <h3>Devid Ezzat </h3>
                        <p> Team Leader</p>
                            <a href="http://www.facebook.com" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                            <a href="http://www.linkedin.com" target="_blanck"><i class="fab fa-linkedin"></i></a>
                            <a href="http://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
                            </div>
                    </div>
            <div class=" col-sm-3 ">
                <div class="person">
               <img class="img-circle" src="./assets/images/avtar.jpg" alt="item1"  width="100px" height="100px"/>
                <h3>Ahmed Eldeeb </h3>
                <!-- <p> The Chairman of Board of Directors</p> -->
                    <a href="http://www.facebook.com" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                    <a href="http://www.linkedin.com" target="_blanck"><i class="fab fa-linkedin"></i></a>
                    <a href="http://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
                    </div>
            </div>
            <div class=" col-sm-3">
                <div class="person">
                   <img class="img-circle" src="./assets/images/avtar1.jpg" alt="item1"  width="100px" height="100px"/>
                <h3>Loai Ismail</h3>
                <!-- <p> The Head of Sales Department</p> -->
                    <a href="http://www.facebook.com" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                    <a href="http://www.linkedin.com" target="_blanck"><i class="fab fa-linkedin"></i></a>
                    <a href="http://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
                    </div>
            </div>
            <div class="col-md-3 ">
                <div class="person">
                    <img class="img-circle" src="./assets/images/person1.jpg" alt="item1"  width="100px" height="100px"/>
                <h3>Fatma Atef</h3>
                <!-- <p> The Head of staff Department</p> -->
                   <a href="http://www.facebook.com" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                    <a href="http://www.linkedin.com" target="_blanck"><i class="fab fa-linkedin"></i></a>
                    <a href="http://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="person">
                    <img class="img-circle" src="./assets/images/person2.jpg" alt="item1"  width="100px" height="100px"/>
                <h3>Esraa Yonis</h3>
                <!-- <p> The Head of staff Department</p> -->
                   <a href="http://www.facebook.com" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                    <a href="http://www.linkedin.com" target="_blanck"><i class="fab fa-linkedin"></i></a>
                    <a href="http://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
                    </div>
            </div>
            
        </div>
    </div>
    </div>
</section>